body{
	margin: 0;
	padding: 0;
}

#map{
	position: absolute; 
	top: 0; 
	bottom: 0; 
	width: 100%;
}

#menu {
	position: absolute;
	background: #efefef;
	padding: 10px;
	font-family: Arial, sans-serif;
}

.calculation-box {
	width: 200px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #efefef;
	color: #000;
	padding: 8px;
	border-radius: 0 0 5px 5px;
	border: none;
	font-size: 16px;
	font-family: system-ui;
}

.calculation-box p:first-child {
	font-family: system-ui;
	margin: 0;
	font-size: 16px;
	color: #0971CE;
}

div#calculated-area p{
	font-weight: bold;
	color: #231F20;
	font-family: system-ui;
}

.distance-box {
	width: 200px;
	position: absolute;
	bottom: 30px;
	left: 10px;
	background-color: #efefef;
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	font-family: system-ui;
}

.distance-box p{
	width: 100%;
	margin: 0;
	color: #0971CE;
}

.distance-box div{
	font-weight: bold;
	color: #231F20;
}

.logo-box{
	width: 300px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-color: #efefef;
	border-radius: 5px 5px 0 0;
	border: none;
}

.logo-box img:first-child{
	width: 30%;
}

.logo-box img:last-child{
	width: 25%;
}

.logo-box img{
	width: 20%;
}

#btn{
	width: 150px;	
	position: absolute;
	/*top: 162px;*/
	right: 10px;
	bottom: 86px;
	padding: 10px 20px;
	/*background-color: #145BA1;*/
}

#btn-save{
	width: 150px;
	position: absolute;
	/*top: 218px;*/
	right: 10px;
	bottom: 30px;
	box-sizing: 40px;
	padding: 10px 20px;
	/*background-color: #06783A;*/
}

/* The Modal (background) */
.modal {
  	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
/*.modal-content {
  	background-color: #fefefe;
  	margin: 10px auto; 
  	padding: 20px;
  	border: 1px solid #888;
  	width: 40%;
}*/

.modal-content {
	width: 150px;
	position: absolute;
  	display: none;
  	bottom: 142px;
  	right: 10px; 
  	padding: 10px;
  	background-color: #fefefe;
  	border: none;
  	font-size: 14px;
}

label.form-label{
	margin-bottom: 5px;
}

.form-control, .form-select{
	font-size: 14px;
	height: 34px;
}

h4{
	font-size: 16px;
}

.mb-3:last-child{
	margin-bottom: 0;
}

.close {
	width: 20px;	
  	color: #aaa;
  	float: right;
  	text-align: right;
  	font-size: 28px;
  	font-weight: bold;
}

.close:hover, .close:focus {
  	color: black;
  	text-decoration: none;
  	cursor: pointer;
}