body{
	margin: 0;
	padding: 0;
}

#map{
	position: absolute; 
	top: 0; 
	bottom: 0; 
	width: 100%;
}


#menu {
	position: absolute;
	background: #efefef;
	padding: 10px;
	font-family: Arial, sans-serif;
}

.side-menu{
	width: 30px;
	position: absolute;
	right: 10px;
	top: 220px;
}

.marker{
	background-size: 18px 18px;
}

#question-mark{
	font-weight: bold;
	font-size: 20px;
}

.calculation-box {
	width: 250px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #efefef;
	color: #000;
	padding: 8px;
	border-radius: 0 0 5px 5px;
	border: none;
	font-size: 16px;
	font-family: system-ui;
}

.calculation-box span{
	font-weight: bold
}

.calculation-box p {
	font-family: system-ui;
	margin: 0;
	font-size: 16px;
	color: #0971CE;
}

div#calculated-area p{
	font-weight: bold;
	color: #231F20;
	font-family: system-ui;
}

.logo-box{
	width: 220px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background-color: #efefef;
	border-radius: 5px 5px 0 0;
	border: none;
}

.logo-box img:first-child{
	width: 50%;
}

.logo-box img:last-child{
	width: 25%;
}

.logo-box img{
	width: 20%;
}

[hidden] {
  display: none !important;
}

nav{
	width: 150px;
	position: absolute;
	display: none;
	left: 10px;
	bottom: 86px;
	background-color: #fefefe;
  	border: none;
  	border-radius: 5px;
  	font-family: system-ui;
  	font-size: 14px;	
}

ul.menu-options{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu-options li{
	padding: 5px 20px;
	cursor: pointer;
}

ul.menu-options li label{
	width: 100%;
	cursor: pointer;
}

ul.menu-options li:first-child{
	margin-top: 5px;
}

ul.menu-options li:last-child{
	margin-bottom: 5px;	
}

ul.menu-options li:hover{
	background-color: #ccc;
}

#btn-mission{
	width: 150px;
	position: absolute;
	left: 10px;
	bottom: 30px;
	box-sizing: 40px;
	padding: 10px 20px;
}

#btn{
	width: 150px;	
	position: absolute;
	right: 10px;
	bottom: 30px;
	padding: 10px 20px;
}

.modal-dialog{
	max-width: 530px;
}

.modal-config {
	width: 150px;
	position: absolute;
  	display: none;
  	bottom: 86px;
  	right: 10px; 
  	padding: 10px;
  	background-color: #fefefe;
  	border: none;
  	font-size: 14px;
}

.help-options{
	padding: 10px;
	text-align: center;
}

label.form-label{
	margin-bottom: 5px;
}

.form-control, .form-select{
	font-size: 14px;
	height: 34px;
}

h4{
	font-size: 16px;
}

.mb-3:last-child{
	margin-bottom: 0;
}

#btn-top{
	top: 10px;
	left: 15px;
	padding: 5px 5px;
	width: 50px;
	position: absolute;
	font-size: 18px;
	font-family: system-ui;
}


#btn-top:hover {
    /*color: #009a9a;
    background-color: #FFFF00;*/
    color: #000000;
    background-color: #F3F781 !important;
}

#btn-top:focus,
.btn-top.focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 128, 0.5)
}

#btn-top.disabled,
#btn-top:disabled {
    color: #009a9a;
    background-color: transparent
}

#btn-top:not(:disabled):not(.disabled):active,
#btn-top:not(:disabled):not(.disabled).active,
.show>.btn-top.dropdown-toggle {
    color: #fff;
    background-color: #009a9a;
/*    border-color: #009a9a*/
}

#btn-top:not(:disabled):not(.disabled):active:focus,
.btn-top:not(:disabled):not(.disabled).active:focus,
.show>.btn-top.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 128, 0.5)
}

@media screen and (max-width: 767px){

	#btn-top{
		top: 72px;
		left: 10px;
	}

	.calculation-box{
		left: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	
}

@media screen and (max-width: 600px){
	#btn-top{
		top: 10px;
	}

	.calculation-box{
		left: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.mapboxgl-ctrl-top-right {
		top: 66px;
		width: 100%;
	}

	div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    	margin: 10px 10px 0 10px;
	}

	.side-menu{
		top: 300px;
	}
}

@media screen and (max-width: 560px){
	#btn, #btn-mission{
		bottom: 70px;
	}

	nav, .modal-config{
		bottom: 124px;
		z-index: 99;
	}
}